/**
 * Breakpoints
 */
 $breakpoints: (
         xs: 479px,
         sm: 767px,
         md: 991px,
         mdd: 992px,
         lg: 1199px,
         xl: 1279px,
         xxl: 1919px,
);


$font: 'Gilroy', sans-serif;

//Colors
$color-grey10: #A6A6A6;
$color-grey11: #F0EEE5;
$color-grey12: #EFEFEE;
$color-grey13: #F4F4F3;
$color-grey14: #d8d8d8;
$color-grey15: #7B7B7B;
$color-grey16: #7B7B7B;
$color-grey17: #DDD8CC;

$color-content: #4B4B4B;

$color-brown10: #F0EEE4;
$color-brown15: #C6C3B6;
$color-brown16: #F0EEE5;

$color-red10: #CB2A33;
$color-red11: #BB3A3A;

